* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    border: none;
    outline: none;
}




.header {
    padding: 30px 0 122px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1320px;
    margin: 0 auto;
}

.header__logo {
    height: 35px;
    width: 49px;
}

.header__button {
    height: 60px;
    width: 180px;
    background-color: #9C69E2;
    border-radius: 50px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 300ms;
}

.header__button:hover {
    background: #B17FF4;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin: 0;
}

.menu__item .menu__item__ref {
    font-size: 18px;
    color: #212353;
    transition: all 300ms;
}

.menu__item:hover .menu__item__ref {
    color: #9C69E2;
}

.menu__item_children {
    position: relative;

}

.menu__item_children::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    display: block;
    height: 6.25px;
    width: 10px;
    background: transparent url(../img/union.svg) center center no-repeat;
    transition: all 300ms;
}

.menu__item_children:hover::after {
    background: transparent url(../img/union-hover.svg) center center no-repeat;
}

.menu__item_children:hover .submenu {
    display: flex;
}

.submenu {
    position: absolute;
    top: 0;
    right: -110px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 169px;
    padding-top: 40px;
    transition: all 200ms;
    overflow-y: hidden;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid #9C69E2;
    box-shadow: 0px 4px 0px #E2CEFE;
}

.submenu__item {
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #9C69E2;
    border-right: 1px solid #9C69E2;
}

.submenu__item:first-child {
    position: relative;
    border-radius: 10px 10px 0 0;
    border-top: 1px solid #9C69E2;
}

.submenu__item:first-child::after {
    content: '';
    position: absolute;
    display: block;
    height: 18px;
    width: 18px;
    top: -11px;
    right: 89px;
    border-top: 1px solid #9C69E2;
    border-left: 1px solid #9C69E2;
    background-color: #fff;
    transform: rotate(45deg)
}

.submenu__item__ref {
    font-size: 16px;
    color: #212353;
    transition: all 300ms;
}

.submenu__item__ref:hover {
    color: #9C69E2;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.content__title {
    font-size: 40px;
    text-align: center;
}

.content__text {
    width: 650px;
    margin: 0 auto;
    font-size: 23px;
    text-align: center;
}

.slider {
    height: 585px;
    margin-top: 55px;
    padding-top: 97px;
    background: #FFC84D;
    border-radius: 50px;
}

.slider__item__wrap {
    height: 370px;
    outline: none;
}

.slider__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 390px;
    height: 358px;
    padding-left: 114px;
    margin: 0 auto;
    background: #FFF3D7;
    box-shadow: 0px 10px 0px #F5BD3F;
    border-radius: 50px;
    color: #212353;
}

.slider__item__title {
    margin-top: 41px;
    font-size: 25px;
    line-height: 130%;
}

.slider__item__number {
    position: absolute;
    top: 5%;
    left: -16%;
    font-weight: bold;
    font-size: 202px;
    color: #9C69E2;
}

.slider__item__desc {
    width: 216px;
    font-size: 16px;
    line-height: 160%;
}

.slider__item__button {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    transition: all 300ms;
}

.slider__item__button:hover {
    color: #9C69E2;
}

.slider__item__button::after {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    display: block;
    height: 14px;
    width: 20px;
    background: transparent url(../img/slider-arrow.svg) center center no-repeat;
}

.footer {
    margin-top: 151px;
    background-color: #9C69E2;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 197px;
    width: 1320px;
    margin: 0 auto;
}

.footer-menu {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;

}

.footer-menu__item {
    margin-right: 54px;
}

.footer-menu a {
    color: #ffffff;
    font-size: 16px;
}

form input {
    width: 419px;
    height: 48px;
    padding-left: 15px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #4B5D68;
}

form input:placeholder {
    font-size: 16px;
    color: #A9A0B6;
}

form button {
    width: 148px;
    height: 48px;
    margin-left: 33px;
    background: #EEAA12;
    border-radius: 50px;
    color: #FFFFFF;
    transition: all 300ms;
}

form button:hover {
    background: #FFBE2D;
}

.slick-dots {
    width: initial;
    bottom: 55px;
    left: 20px;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li button::before {
    color: #ffffff;
    opacity: 1;
}

.slick-dots li button {
    padding: 0;
}

.slick-dots li.slick-active button::before {
    font-size: 11px;
    line-height: 23px;
    color: #F063B8;
}

